<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body class="container">
      
  <div class="row" style="padding-left: 30%;">
    <div>
      <img style="height: 200px;width: 200px;" src="{{data.message.image}}" alt="">
    </div>
    <table style="text-align: center;">
      <tr>
        <th>name</th>
        <td>{{data.message.name}}</td>
      </tr>

      <tr>
        <th>phone</th>
        <td>{{data.message.mobile}}</td>
      </tr>

      <tr>
        <th>City</th>
        <td>{{data.message.city}}</td>
      </tr>
      
      <tr>
        <th>Street</th>
        <td>{{data.message.street_address}}</td>
      </tr>
    </table>

    <a href="{% url 'update' %}"><button type="submit">update</button></a>
    <a href="{% url 'logout' %}">logout</a>
  </div>

</body>
</html>