<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Update</title>


</head>
<body>
    <form id='id_form' enctype="multipart/form-data" >
        <input id='id_name' type="text" value='{{name}}' name='cust'>
        <input id='id_mobile' type="text" value='{{mobile}}' name='mobile'>
        <input id='id_street_address' type="text" value='{{street_address}}' name='street_address'>
        <input id='id_image' required=false type="file" name='image' src="{{image}}">
        <button type="submit">save</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
      $('#id_form').submit(function(e){
        e.preventDefault();
        var data= new FormData(this);
        console.log(data)
        $.ajax({
            type: "POST",
            url: '{% url "ajaxupdate" %}',
            data: data,
            contentType:false,
            processData:false,
            success: function(res) {
                console.log(res)
                if (res.status == 'success'){
                window.location.href = '{% url "profile" %}'
                }else{
                  e.preventDefault();
                }
            }
      });
      });
  </script>
  <!-- <script>
    $('#id_form').submit(function(e){
      e.preventDefault();
      var name = $('#name').val();
      var mobile = $('#mobile').val();
      var street_address = $('#street_address').val()

      $.ajax({
            method: "POST",
            csrfmiddlewaretoken:"{{csrf_token}}",
            url: '{% url "ajaxupdate" %}',
            data: {
              'name' : name,
              'mobile' : mobile,
              'street_address' : street_address
            },
            success: function(res) {
                console.log(res)
            }
      });

    });

  </script> -->

  <!-- <script>
    function onFormSubmit(event) {

        var formData=new FormData();
        formData.append("name", document.getElementById('id_name').value);
        formData.append("mobile", document.getElementById('id_mobile').value);
        formData.append("street_address", document.getElementById('id_street_address').value);
        formData.append("image",document.getElementById("id_image").files[0]);

        console.log(formData);

        var xhr=new XMLHttpRequest();
        xhr.open("POST","http://127.0.0.1:8001/cust/ajax/update/",true);
        xhr.send(formData);
    }
</script> -->


</body>
</html>